{% extends "base.html" %}
{% from "macros.html" import add_btn, edit_btn, delete_btn, render_pagination %}

{% block title %}Disbursements{% endblock %}

{% block content %}
<h1>Disbursements</h1>
{{ add_btn("disbursements.add", "Add Disbursement") }}
{{ add_btn("disbursements.export", "Export") }}

<table class="table table-striped table-dark">
    <tr>
        {% for column in columns %}
        <th>{{ column['label']  }}</th>
        {% endfor %}
        <th>Actions</th>
    </tr>
    {% if not data %}
    <tr>
        <td colspan="4" class="text-center">No record found.</td>
    </tr>
    {% else %}
        {% for row in data.items %}
    <tr>
        {% for column in columns %}
            {% if 'date' in column['key'] %}
        <td>
            {% if row[column['key']] %}
            {{ row[column['key']].strftime('%Y-%b-%d')  }}
            {% endif %}
        </td>
            {% else %}
        <td>{{ row[column['key']]  }}</td>
            {% endif %}
        {% endfor %}
        <td>
            {{ edit_btn(obj.edit_route, row.id) }}
            {{ delete_btn(obj.delete_route, row.id) }}
        </td>
    </tr>
        {% endfor %}
    {% endif %}
</table>
{{ render_pagination(data, "disbursements.home") }}
{% endblock %}