{% extends "base.html" %}
{% from "macros.html" import add_btn, edit_btn, delete_btn, render_pagination %}

{% block title %}Disbursements{% endblock %}

{% block content %}
<h1>Disbursements</h1>
{{ add_btn("disbursements.add", "Add Disbursement") }}

<table class="table table-striped table-dark">
    <tr>
        <th>Record Date</th>
        <th>Bank Date</th>
        <th>CD Number</th>
        <th>Check Number</th>
        <th>Vendor</th>
        <th>Amount</th>
        <th>Actions</th>
    </tr>
    {% if not data %}
    <tr>
        <td colspan="4" class="text-center">No record found.</td>
    </tr>
    {% else %}
        {% for row in data.items %}
    <tr>
        <td>
            {{ row.record_date.strftime('%Y-%b-%d')  }}
        </td>
        <td>
            {% if row.bank_date %}
            {{ row.bank_date.strftime('%Y-%b-%d')  }}
            {% endif %}
        </td>
        <td>{{ row.disbursement_number  }}</td>
        <td>{{ row.check_number }}</td>
        <td>{{ row.vendor.vendor_name }}</td>
        <td>
            {{ row.cash_total() }}
        </td>
        <td>
            {{ edit_btn("disbursements.edit", row.id) }}
            {{ delete_btn("disbursements.delete", row.id) }}
        </td>
    </tr>
        {% endfor %}
    {% endif %}
</table>
{{ render_pagination(data, "disbursements.home") }}
{% endblock %}