{% extends "base.html" %}
{% from "macros.html" import string_field, select_field, date_field, textarea_field, entry_string_field, entry_number_field, entry_select_field, submit_field, add_btn %}

{% block title %}Edit Petty Cash{% endblock %}

{% block content %}
<h1>Edit Petty Cash</h1>
<form action="{{ url_for('petty_cash.edit', id=id) }}" method="post" class="form">
    {{ form.csrf_token }}
    <div class="row">
        <div class="col-6">
            {{ date_field(form.record_date, autofocus=True) }}
        </div>
        <div class="col-6">
            {{ date_field(form.report_date) }}
        </div>
    </div>
    {{ select_field(form.vendor_id) }}
    <div class="row">
        <div class="col-6">
            {{ string_field(form.petty_cash_number) }}
        </div>
        <div class="col-6">
            {{ string_field(form.invoice_number) }}
        </div>
    </div>
    {{ textarea_field(form.notes) }}

    <table class="table table-striped">
        <tr>
            <th>Account Title</th>
            <th>Debit</th>
            <th>Credit</th>
            <th>Notes</th>
        </tr>
    {% for entry in form.entries %}
        <tr>
            <td>
                {{ entry_select_field(entry.account_id) }}
                {{ entry.csrf_token}}
            </td>
            <td>{{ entry_number_field(entry.debit) }}</td>
            <td>{{ entry_number_field(entry.credit) }}</td>
        </tr>
    {% endfor %}
    </table>
    {{ submit_field(form.submit) }}
</form>
{% endblock %}