{% extends "base.html" %}
{% from "macros.html" import add_btn, edit_btn, delete_btn, render_pagination %}

{% block title %}Account Type{% endblock %}

{% block content %}
<h1>Account Types</h1>
{{ add_btn("account_type.add", "Add Account Type") }}
{% if current_user.admin %}
    {{ add_btn("account_type.export", "Export") }}
{% endif %}
<table class="table table-striped table-dark">
    <tr>
        <th>Description</th>
        <th>Classification</th>
        <th>Order</th>
        <th>Action</th>
    </tr>
    {% if not account_types %}
    <tr>
        <td colspan="4" class="text-center">No record found.</td>
    </tr>
    {% else %}
        {% for account_type in account_types.items %}
    <tr>
        <td>{{ account_type.account_type }}</td>
        <td>{{ account_type.classification }}</td>
        <td>{{ account_type.priority }}</td>
        <td>
            {{ edit_btn("account_type.edit", account_type.id) }}
            {{ delete_btn("account_type.delete", account_type.id) }}
        </td>
    </tr>
        {% endfor %}
    {% endif %}
</table>
{{ render_pagination(account_types, "account_type.home") }}
{% endblock %}