<div class="navbar-nav">
    <a class="nav-link text-white" href="{{ url_for('landing_page.home') }}">Home</a>
</div>

<div class="nav-item dropdown">
    <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdownMenuLink" role="button"
       data-bs-toggle="dropdown" aria-expanded="false">
        Journals
    </a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        <li><a class="dropdown-item" href="{{ url_for('disbursements.home', page=1) }}">Check Disbursements</a></li>
    </ul>
</div>

<div class="nav-item dropdown">
    <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdownMenuLink" role="button"
       data-bs-toggle="dropdown" aria-expanded="false">
        Options
    </a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        <li><a class="dropdown-item" href="{{ url_for('accounts.home', page=1) }}">Chart of Accounts</a></li>
        <li><a class="dropdown-item" href="{{ url_for('vendors.home', page=1) }}">Vendors</a></li>
    </ul>
</div>

{% if current_user.admin %}
<div class="nav-item dropdown">
    <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown"
       aria-expanded="false">
        Admin Options
    </a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        <li><a class="dropdown-item" href="{{ url_for('company.home') }}">Company Setup</a></li>
        <li><a class="dropdown-item" href="{{ url_for('account_type.home', page=1) }}">Account Type</a></li>
    </ul>
</div>

{% endif %}